extends layout

block content
  .w3-card-4
      header.w3.container.w3-green
          form(method="get" action="/alunos/editar").w3-left
            input(type="hidden", name="numero", value=aluno.Número)
            button(type="submit").w3-dark-gray.w3-xlarge Editar Aluno
          form(method="get" action="/alunos").w3-right
            button(type="submit").w3-dark-gray.w3-xlarge Voltar à lista de alunos
          h2.w3-center= title
      img(src='/images/default-profile.png' , alt='Profile Picture' width="150px" height="150px").w3-right
      h4 Nome: #{aluno.Nome}
      h4 Número: #{aluno.Número}
      h4 Git:
        a(href=aluno.Git) #{aluno.Git.split('/')[3]}
      h4 TPCS: O aluno fez #{aluno.tpc.length} tpcs
      header.w3.container.w3-green
          form(method="post" action="/alunos/" + aluno.Número).w3-red.w3-center
            button(type="submit").w3-black.w3-xlarge Eliminar Aluno
      
      footer(class="w3-container w3-green")
          adress Gerado por Pedro Parente
